@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cormorant+Garamond:ital,wght@0,300;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant garamond', serif;
    text-align: center;
}
p, li {
    font-size: 18px;
    font-weight: bold;

}

h2 {
    text-decoration: underline;
    font-weight: bolder;
}

#name, #purpose, #scenarios, #colors, #fonts, #wireframe {
    padding: 1rem;
}

ul {
    list-style: none;
}

#colors ul li{
    width: 30vw;
    margin: auto;
    font-size: large;
    color: white;
    font-weight: bold;
    padding: .25rem;
    border: 1px solid black
}

.font1 {
    font-family: 'Cormorant garamond';

}

.font2 {
    font-family: 'Architects Daughter';
}

#wireframe img {
    width: 80vw;
}

.teal {
    background-color: #00878A;
}

.light-teal {
    background-color: #54A7A8;
}

.med-teal {
    background-color: #326D6E;
}

.sienna {
    background-color: #BA6530;
}

.umber {
    background-color: #6E4932;
}