@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cormorant+Garamond:ital,wght@0,300;0,700;1,300&display=swap');

:root {
    --feather: #00878A;
    --marine: #54A7A8;
    --forest: #326D6E;
    --accent: #BA6530;
    --accent2: #6E4932;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

header {
    display: flex;
    height: 30vh;
    width: 100%;
    align-items: center;
    margin: 0;
}

h1 {
    font-size: 1.6em;
    height: fit-content;
    text-align: center;
    color: var(--marine);
    background-color: black;
    z-index: 10;
    padding: 1.5rem 0;
    margin: auto;
    width: 100%;
}

.heroholder {
    display: flex;
    overflow: hidden;
    height: 30vh;
    position: absolute;
    top: 0;
    width: 100%;
}

.hero {
    background-repeat: repeat;
    background-size: cover;
    margin: auto;
    height:100%;
}

.card {
    width: 70vw;
    min-height: 30vh;
    background-color: aliceblue;
    border: 1px solid black;
    margin: 1rem auto;
    border-radius: 7px;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.sponsor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.ad {

    border: 1px solid black;
    margin: 1rem;
    border-radius: 7px;
}

.card h3 {
    background-color: gray;
    color: aliceblue;
    padding: .5rem;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid black;
}

.card h2 , .newcard h2{
    background-color: black;
    color: aliceblue;
    padding: .5rem;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid black
}

.card p {
    padding: .5rem;
}

nav a {
    text-decoration: none;
    color: var(--midnight);
}

/* Not hamburger menu */
nav {
    font-family: 'Architects daughter', serif;
}

nav ul {
    font-size: 1.25em;
}


nav li {
    text-decoration: none;
    list-style: none;

}

/* All hamburger menu things. */

#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(255, 254, 254, 0.3);
    padding: 3px 7px 6px;
    background-color: black;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: black;
    color: white;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: .25rem;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}



/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active::before {
    content: "📍 ";
}

footer {
    color: black;
}



/* Discovery */

.main-holder {
    display: block;
    width: 100%;
    padding-top: 12px ;
}

aside{
    display: grid;
    grid-template: repeat(auto-fill, minmax(25px, 1fr)) / repeat(5, 1fr);
    height: 770px;
}

.newcard{
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.welcome{
    grid-row: 1 / 4;
    grid-column: 2 / 5;
    border: 1px solid black;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.school-events {
    grid-row: 4 / span 8;
    grid-column: 2 / 5;
    margin: 0;
    
}

.local-events{
    grid-row: 13 / span 8;
    grid-column: 2 / 5;
    margin:0;
}

.house-cup{
    grid-row: 22 /span 8;
    grid-column: 2 / 5;
}

.pics figure img{
    max-width: 90%;
}

/* ------- JOIN PAGE --------- */

.form-page {
    display: flex;
    padding-bottom: 50px;
}

.join-me {
    width: 30%;
    margin: auto;
    display: block;
}

label {
    text-align: left;
    padding: .5rem;
    display: flex;
    flex-direction: column; 
}

.submitBtn {
    padding: 5px;
}

.join-me input, .join-me select{
    height: 32px;
}

.join-me input, .join-me textarea, .join-me select {
    border-radius: 5px;
    border: 1px solid black
}

.options {
    width: 50%;
    
}

.options ul {
    list-style: none;
    margin-bottom: 2rem;
}


.options h2 {
    text-decoration: underline ;
}


/* MEMBER SECTION */
.menu-options button {
    min-width: 4rem;
    width: 10%;
    margin-top: 1rem;
    border-color: var(--accent2);
    height: 3rem;
    background: var(--accent);
}

.grid {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 2rem;
    width: 100vw;
}

.mem-card{
    padding: .5rem;
    background-color: white;
    border: 1px solid black;
    margin: auto;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.mem-card a {
    color:var(--accent2)
}

.mem-card img {
    width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

}

.list section {
    box-shadow: none;
    border-radius: 0;
    height: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    grid-template-columns: 2fr 1fr 1fr;
    width: 100%;
}
.list section h2{
    font-size: 1.2em;
}
.list section > * {
    margin: 0 1rem;
}
.list section:nth-child(even) {
	background-color: #e5feff;
}

.list section img {
    display: none;
}