@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cormorant+Garamond:ital,wght@0,300;0,700;1,300&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

header {
    display: flex;
    height: 50vh;
    width: 100vw;
    align-items: center;
}

h1 {
    height: fit-content;
    text-align: center;
    color: #326D6E;
    background-color: black;
    z-index: 10;
    padding: 1.5rem;
    margin: auto;
    width: 100vw;
}

.heroholder {
    display: flex;
    overflow: hidden;
    height: 50vh;
    position: absolute;
    top: 0;
    width: 100vw;
}


.hero {
    background-repeat: no-repeat;
    background-size: contain;

}

.card {
    width: 70vw;
    min-height: 30vh;
    background-color: aliceblue;
    border: 1px solid black;
    margin: 1rem auto;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.sponsor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.ad {

    border: 1px solid black;
    margin: 1rem;
    border-radius: 7px;
}

.card h3 {
    background-color: gray;
    color: aliceblue;
    padding: .5rem;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid var(--midnight)
}

.card h2 {
    background-color: black;
    color: aliceblue;
    padding: .5rem;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid black
}

.card p {
    padding: .5rem;
}

nav a {
    text-decoration: none;
    color: var(--midnight);
}

/* Not hamburger menu */
nav {
    font-family: 'Architects daughter', serif;
}

nav ul {
    font-size: 1.25em;
}


nav li {
    text-decoration: none;
    list-style: none;
    padding: 5px;
    margin: auto;
    width: 100%;
}

footer {
    margin-bottom: 22vh;
}

@media (max-width: 750px) {
    h1 {
        font-size: 1.6em;

    }

    /* All hamburger menu things. */

    #menu {
        font-size: 1.5rem;
        border: 1px solid rgba(255, 254, 254, 0.3);
        padding: 3px 7px 6px;
        background-color: var(--forest);
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "X";
    }

    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: black;
        color: white;
    }

    .navigation li {
        display: none;
    }

    .navigation li a {
        display: block;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: aliceblue;
        border: 1px solid var(--forest)
    }

    .navigation li a:hover {
        background-color: #bbb;
        color: #333;
        font-weight: 700;
    }

    /* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
    .open li {
        display: block;
        width: 100%;
    }

    .open li a {
        display: block;
    }

    .active::before {
        content: "📍 ";
    }

    .card {
        margin-bottom: 2rem;

    }

    footer {
        color: black;
    }

}