@media (min-width: 750px) {
    #menu {
        display: none;
    }

    header{
        height: 40vh;
    }

    .heroholder{
        background-color: black;
        height: 40vh;
    }
    

    h1 {
        font-size: 2.5em;
        margin: 0;
        
    }
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: black;
        color: white;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5em;
        padding: 5px;
        margin: auto;
        /* width: 100%; */
    }


    .navigation li {
        display: inline;
        width: 100%;
    }

    nav li:hover {
        background: rgb(255, 255, 255);
        background: linear-gradient(330deg, rgba(255, 255, 255, 0) 18%, rgba(186, 101, 48, 1) 50%, rgba(255, 255, 255, 0) 85%);
    }

    nav li a:hover {
        color: white;
    }

    .card {
        font-size: 1.25em;
        width: 40%;
    }

    .card-holder {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin: auto;
    }


    /* Discovery */
    .main-holder {
        display: grid;
        width: 100%;
        grid-template: repeat(auto-fill, minmax(10px, 1fr)) / repeat(2, 1fr);
        
    }
    
    aside {
        display: grid;
        grid-template: repeat(auto-fill, minmax(25px, 1fr)) / repeat(5, 1fr);
        
    }
    
    .pics img:hover {
        border-radius: 7px;
        border: 2px solid var(--accent);
    }

    /* DIRECTORY */
    .menu-options button {
        width: 20%;
    }

    .grid {
        grid-template-columns:  repeat(auto-fit, minmax(460px, 1fr));
    }

    .mem-card{
        padding: 2rem;
    }
    .list section h2{
        font-size: 1.5em;
    }

}