@media (min-width: 750px) {

    #menu {
        display: none;
    }

    h1 {
        font-size: 2.5em;
        margin: 0;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5em;
    }


    nav li {
        display: inline;
    }

    nav li:hover {
        background: rgb(255, 255, 255);
        background: linear-gradient(315deg, rgba(255, 255, 255, 0) 18%, rgba(52, 99, 122, 1) 50%, rgba(255, 255, 255, 0) 85%);
    }

    nav li a:hover {
        color: white;
    }

    .card {
        font-size: 1.25em;
    }

    .card-holder {
        display: flex;
        flex-wrap: wrap;
    }


    

}